:root {
    --style-basis:#212121;
    --style-text:#757575;
    --style-fon-white:#FFFFFF;
    --style-blue:#2196F3;
    --style-black:#000000;
    --style-button:#F5F4FA;
    --style-button-secondary:#188ce8; 
    --fon-titl-adr:#2F303A;
    --br-pr-style: #EEEEEE;
    --social-st:#AFB1B8;
    
    
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    