  /* Оформленння кнопок */

 .button-title {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    cursor: pointer;
    color: var(--style-fon-white);
    background:var(--style-blue);
    transition: background-color var(--animation);

    &:hover, 
    &:focus  {
        background-color: var(--style-button-secondary);
    }

}

.button-nav {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    margin-bottom: 40px;
    padding-left: 0;
   
    @media screen and (min-width:768px) {
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.button-list:not(:last-child) {
    margin-right: 8px;
}

.button-list:nth-child(1), .button-list:nth-child(3)  {
    margin-bottom: 15px;

    @media screen and (min-width:768px) {
       margin-bottom: 0;
    }

}


.button-one {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    color: var(--style-fon-white);
    background-color:var(--style-blue);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    transition: box-shadow var(--animation);

    &:hover, 
    &:focus{    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 103px;

    color: var(--style-basis);
    background-color:var(--style-button);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);

    &:hover,
    &:focus {
        background-color: var(--style-blue);
        color: var(--style-fon-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}




.button-tel-menu {
    margin: 0;
    margin-left: auto;  
    padding: 0;
    border: 0;

    cursor: pointer;

    background-color: transparent;
    fill: var(--style-basis);

    transition: fill var(--animation);

    &:hover,
    &:focus {
    fill: var(--style-blue);
    }

    &.icon-close {
    opacity: 0;
    }

    &.is-open{
    z-index: 800;
    }

    &.is-open .icon-close{
     opacity: 1;
    transition: opacity var(--animation);
    }

    &.is-open .icon-menu{
    display: none;
    } 

    @media screen and (min-width:768px) {
        display: none;;
     }
}




.button-tel-menu .icon-close {
    opacity: 0;
}