/* Логотип компанії */

.logo {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 24px;
  
    color: var(--style-blue);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and(min-width: 1200px){
        margin-right: 93px;  
       }
    }

.logo-footer {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    @media screen and(max-width: 1200px){
     justify-content: center;  
    }
    }
    
.logo--black {
    color: var(--style-black);
    }

.logo-footer--white {
    color: var(--style-fon-white);
    }