/* Чим ми займаємось */

.work {
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;  
    }
}

.work__name {
    margin-bottom:50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    }

.work__list {
    display: flex;
    justify-content:space-between;

}

.work__item {
    position: relative;
    z-index: 1;

    margin-right: 30px;   

    &:last-child {
        margin-right: 0px;
    }
    }

.work__images {
    display: block;
    max-width: 100%;
    height: auto;
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--style-fon-white);
    background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

